*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(118, 206, 228);
}
.container{
    margin: 100px auto;
    width: 75%;
}
img{
    max-width: 350px; 
    float: left;
    border-radius: 10px;
    border: 3px solid whitesmoke;
    margin-right: 20px; 



}
.text h2{
    font-size: 50px;
    padding: 5px;
}
.text p{
    font-size: 18px;
    text-align: justify;
}
li {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 30px;
}
a{
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    padding: 0.5rem 1rem;
    background: white;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}